#!/usr/bin/env bash

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# hub
alias git=hub

# rails server
alias bers="bundle exec rails s"

# rails console
alias berc="bundle exec rails c"
