#!/usr/bin/env zsh

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Reload the shell (i.e. invoke as a login shell)
alias reload="source ~/.zshrc"

# hub
alias git=hub

alias be="bundle exec"
alias atom="atom ."
alias code="code ."
alias dev="cd ~/dev/"
alias master="git checkout master"
alias merge_master="git merge origin/master"
alias personal="cd ~/dev/personal-dev/"