#!/usr/bin/env zsh

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# hub
alias git=hub

alias code="code-exploration"
alias dev="cd ~/dev/"
alias devexpo="cd ~/dev/expo/"
alias master="git checkout master"
alias main="git checkout main"
alias force="git push --force"
alias rebase="git rebase -i master"
alias save_dotfiles="cd ~/Dropbox/Development/dotfiles/ && sh update_dotfiles.sh"

alias expod="~/dev/expo/expo-cli/packages/expo-cli/bin/expo.js"
alias universe="cd ~/dev/expo/universe/"
alias www="cd ~/dev/expo/universe/server/www/"
alias website="cd ~/dev/expo/universe/server/website"
alias snack="cd ~/dev/universe/server/snack"
alias docs="cd ~/dev/expo/expo/docs"

alias easd="node ~/dev/expo/eas-cli/bin/run"