#!/usr/bin/env bash

# Make VSCode the default editor.
export EDITOR='code-insiders'

# Expo
export GOOGLE_APPLICATION_CREDENTIALS="k8s/staging/secrets/gcp-credentials.json"

# expo snack-web
export SNACK_PORT=3011
export SNACK_SEGMENT_KEY=""
export SNACK_SENTRY_DSN=""
export SNACK_SERVER_HOST=snack.expo.test
export SNACK_SERVER_PROTOCOL=https
export IMPORT_SERVER_URL=https://staging.snackager.expo.io
export SNACK_APP_URL=http://s3.us-west-1.amazonaws.com/snack-web-player-staging/36
export CLOUDSDK_PYTHON=/usr/bin/python

# Android Studio
export ANDROID_SDK=~/Library/Android/sdk
export ANDROID_HOME=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/tools
export PATH=$PATH:$ANDROID_HOME/tools/bin
export PATH=$PATH:$ANDROID_HOME/platform-tools